<h1>Empresas</h1>

<div class="content">
  <% @empresas.each do |e| %>
      <div class="context-row">
        <h3>Nombre: <%= e.nombre_empresa %></h3>
        <h3>Email: <%= e.email %></h3>
        <h3>Contraseña: <%= e.password_digest %></h3>
        <h3><%= link_to "Ver más", "/empresas/#{e.nombre_empresa}" %></h3><br>
      </div>
  <% end %>
</div>
