<% provide(:about_active, "active") %>
<% provide(:title, "Nosotros") %>

    <div class="container">
      <div class="jumbotron">
        <h1>Grupo 02</h1>
        <p class="lead">Somos los responsables de esta útil aplicación y estamos trabajando para ofrecerte el mejor servicio posible.</p>
        <p>Espera más de nosotros, porque esto acaba de empezar¡</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Jhonathan Salamanca</h4>
          <p>Super desarrollador e industrial¡ El que controla el dinero¡¡</p>
        </div>

        <div class="col-lg-6">
          <h4>Cristian Sierra</h4>
          <p>Otro super desarrollador¡ No controla el dinero¡¡</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
